{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="com_info">
	<div class="container mt-3 mb-3">
		<div class="rounded p-2 p-md-3 bg-white col-main page-title">
			<h1 class="font-weight-bold pt-2 pt-lg-0 mt-0 mb-3 page_name">
				Introduce
			</h1>
			<div class="rte m-auto bg-white d-block">
				<p><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">Company name:<strong>&nbsp;Technology store limited liability company</strong></span><br>
<span style="color:#000000;">Trading name:<strong>&nbsp;TechnologyStore</strong></span><br>
<span style="color:#000000;">Headquarters:<strong>&nbsp;29 Tan Thanh, Ward 1, District 8, HCM</strong></span><br>
<span style="color:#000000;">License&nbsp;ĐKKD: <strong>254445484</strong></span><br>
<span style="color:#000000;"><strong>*Shop system:</strong></span><br>
<span style="color:#000000;">- Branch 1: 29 Tan Thanh, Ward 1, District 8, HCM </span><br>
<span style="color:#000000;">- Branch 2: 41 .CMT8 Ninh Kieu District. Can Tho City<br>
- Branch 3: opening soon</span><br>
<span style="color:#000000;"><strong>*CallCenter: </strong>1900 888 888<strong> - Email: </strong>bc00057@laptopnew.vn</span></span></span></p>
<p>&nbsp;</p>
<p><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;"><strong>1. The process of formation and development:</strong></span></span></span><br>
<span style="line-height:2;">✓&nbsp;<span style="font-size:16px;"><strong><a href="https://laptopnew.vn/"><span style="color:#2980b9;">TechnologyStore</span></a></strong><span style="color:#000000;"> was officially established in 2010. Born during the time when Vietnam joined WTO&nbsp;and the need to use Laptop for study &amp; increasingly urgent work. In spite of&nbsp;The demand was very high at that time, but Vietnam was still considered a market for popular and mid-range laptop products because Vietnam's GDP income was not high compared to some countries in the world.&nbsp;so the computer manufacturers have not yet focused. Surname&nbsp;Limited supply and very tight control make it difficult and for the development to promote the market.</span></span><br>
✓&nbsp;<span style="font-size:16px;"><span style="color:#000000;"> In the process of development, TechnologyStore expands its business activities to more diverse distribution and retail channels of famous laptop brands. Customers always trust to use products and services provided by TechnologyStore. Thereby , TechnologyStore  &nbsp;always maintain a high growth rate, comprehensive in all aspects in a sustainable way compared to other companies in the same field. </span></span><br>
✓&nbsp;<span style="font-size:16px;"><span style="color:#000000;">With a solid foundation,&nbsp;TechnologyStore&nbsp;was established under Decision No. 254445484 was&nbsp;Department of Planning &amp; Investment in Ho Chi Minh City issued on 10&nbsp; 11&nbsp; 20Until July 2018, Technology Store became the official authorized distributor of AverMedia specializing in the exclusive distribution of Capture Livestream, Microphone products.0, officially laid the foundation to build&nbsp;become a distribution company and&nbsp;Vietnam's leading laptop retailer. And the website Technologystore.vn has become a familiar address for everyone when looking to buy themselves branded laptop products from popular to high-end..</span></span></span><br>
&nbsp;</p>
<p><span style="line-height:2;"><span style="font-size:16px;"><strong><span style="color:#000000">POINTS&nbsp;IMPORTANT AND ACHIEVEMENTS OF LAPTOPNEW IN THE YEARS:</span></strong></span></span></p>
<p>✓<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000">&nbsp;Up to 2010, TechnologyStore has been certified as an authorized dealer of the brand&nbsp;Dell and respectively Hp, Asus, Acer, MSI, Lenovo, LG and Rapoo... </span></span></span><br>
✓<span style="line-height:2;"><span style="font-size:16px;">&nbsp;<font color="#000000">At the end of 2015, TechnologyStore was honored to be in the top 10 suppliers</font><strong><a href=""><span style="color:#0000ff;">The most prestigious genuine laptop in Vietnam</span></a></strong><font color="#000000"> by magazine&nbsp;Top1 voted.</font></span></span><br>
✓<span style="line-height:2;"><span style="font-size:16px;">&nbsp;<span style="color:#000000">Until April 2017, Technology Store officially cooperated with MAI to launch the first MSI Concept Store in Vietnam (website: msivietnam.vn). Specializes in distributing and trading genuine MSI Gaming Laptops&nbsp;From Basic Gaming to&nbsp;most advanced&nbsp;branded MSI.&nbsp;Marking a leap forward and affirming a prestigious brand&nbsp;Top in Vietnam.</span></span></span><br>
✓<span style="line-height:2;"><span style="font-size:16px;">&nbsp;<font color="#000000">Until July 2018, Technology Store became the official authorized distributor of AverMedia specializing in the exclusive distribution of Capture Livestream, Microphone products. &amp; Webcam love&nbsp;brand AverMedia.</font><br>
<span style="color:#000000;">The company has a staff of young but deeply knowledgeable about the profession, highly qualified, capable enough to be able to meet all the most demanding requirements of customers. Not only that, the staff of TechnologyStore are also enthusiastic and have a warm attitude in customer service..&nbsp;</span></span></span><br>
✓&nbsp;<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">Technology Store is committed to maintaining a long-term, dedicated partnership with its customers. Satisfaction and trust&nbsp;customer's is also our success.</span></span></span><br>
&nbsp;</p>
<p><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;"><strong>2. Objectives with partners:</strong></span></span></span><br>
✓&nbsp;<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">With the goal of diverse products and services, the latest models, the best quality, the most competitive prices, TechnologyStore understands the importance of building relationships and gaining the support of manufacturers. manufacturers, distributors and&nbsp;other partners.</span></span></span><br>
✓&nbsp;<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">TecnologyStroe wishes to find potential partners who can provide the latest Laptop models and technology products to establish a cooperative relationship in the spirit of mutual benefit and mutual development..</span></span></span><br>
✓&nbsp;<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">Customer success is the future of the company.&nbsp;The above factors are always associated with the tradition, reputation and brand of&nbsp;TechnologuStore Ten exams in Vietnam.</span></span></span><br>
&nbsp;</p>
<p><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;"><strong>3. Vision:</strong></span></span></span><br>
<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">• Become a company with large scale, professional and friendly laptop showroom system in Vietnam.</span><br>
<span style="color:#000000;">• Building Technology Store to become a professional working environment where every individual can maximize their creativity, leadership ability and the opportunity to truly master themselves..</span><br>
<span style="color:#000000;">• Building TechnologyStore to become a real common home for all employees in the company by sharing rights, responsibilities and obligations in the most fair and transparent manner.</span></span></span><br>
&nbsp;</p>
<p><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;"><strong>4. Core Values:</strong></span></span></span><br>
<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">• Customers are the focus</span><br>
<span style="color:#000000;">• Reputation</span><br>
<span style="color:#000000;">• Quality</span><br>
<span style="color:#000000;">• Honest</span><br>
<span style="color:#000000;">• Effective</span><br>
<span style="color:#000000;">• Human Development</span><br>
<span style="color:#000000;">• Make differences.</span></span></span><br>
&nbsp;</p>
<p><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;"><strong>5. Business philosophy:</strong></span></span></span><br>
<span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;">• Quality of products and services: Is the factor that creates the sustainable development of enterprises.</span><br>
<span style="color:#000000;">•Action motto: Dare to think, dare to do, dare to take responsibility.</span><br>
<span style="color:#000000;">•Customer care: Building sustainable trust to become the most reliable and professional partner.</span><br>
<span style="color:#000000;">• Risk factor: Always under control.</span><br>
<span style="color:#000000;">•Consciousness, spirit and responsibility of employees: Promote the spirit of friendliness, solidarity and synergy among staff to form a strong team.</span></span></span><br>
&nbsp;</p>
<p style="text-align: right;"><span style="line-height:2;"><span style="font-size:16px;"><span style="color:#000000;"><strong>Excerpt from Technology Store BOARD OF MANAGEMENT</strong></span></span></span></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
