{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<div id="blog">
	<div class="breadcrumb-shop">
<div class="breadcrumb-wrap container container-xl">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>


		<li class="breadcrumb-item active"><span>Blog </span></li>
	</ol>
</div>
	</div>
	<div class="blogMain">
		<div class="container"> 
			<div class="blogMainContent">
				<div class="blogBody"> 
					<div class="blogListArticle">

						<!-- Begin: Nội dung blog -->      
<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span> <br></span>
				</div>
			</div>
			<a href="/blogs/news/meo-vang-go-cua-nhan-con-mua-uu-dai" title="GOOD WOODEN CAT - GET SPECIAL RAIN" rel="nofollow">
				<img src="//file.hstatic.net/200000479727/article/620x500_19449f11dd92414bbed9b1e3b335abe8_grande.png" class="img-fluid lazyloaded" data-src="//file.hstatic.net/200000479727/article/620x500_19449f11dd92414bbed9b1e3b335abe8_grande.png" alt="GOOD WOODEN CAT - GET SPECIAL RAIN"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/meo-vang-go-cua-nhan-con-mua-uu-dai" title="GOOD WOODEN CAT - GET SPECIAL RAIN">GOOD WOODEN CAT - GET SPECIAL RAIN</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i> </p>
			<p class="article-item-bottom-des">GOOD WOODEN CAT - GET SPECIAL RAIN &nbsp;👉Only available at technology stores&nbsp;✌️Huge promotion on Tet holiday to spring,&nbsp;to thank customers for loving, trusting and deciding to "close the order".&nbsp;🫰Buy a better machine -...</p>				
		</div>
	</div>
</article>






<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			<a href="/blogs/news/top-5-laptop-gaming-ban-chay-nhat-mua-le" title="TOP 5 BEST SELLING GAMING LAPTOP SUMMER" rel="nofollow">
				<img src="https://lh6.googleusercontent.com/JlNZ_MibmNksidgZFtCsmdghQZI2CITyW7IzDN0QTnxsLl9vnh0XgItBAOKvvHvIfPSKKddgzw6rOttaBZPxhD6khD6EgY1I5EGjgaQ6YzK3DPlvgg3E054GQ4LedGGt8v-RUCJomWCT0RMaTYdBnLzCE-WNBykCTcx7AW76QtwFfNNmE3pJDYUZbw" class="img-fluid lazyloaded" data-src="https://lh6.googleusercontent.com/JlNZ_MibmNksidgZFtCsmdghQZI2CITyW7IzDN0QTnxsLl9vnh0XgItBAOKvvHvIfPSKKddgzw6rOttaBZPxhD6khD6EgY1I5EGjgaQ6YzK3DPlvgg3E054GQ4LedGGt8v-RUCJomWCT0RMaTYdBnLzCE-WNBykCTcx7AW76QtwFfNNmE3pJDYUZbw" alt="TOP 5 LAPTOP GAMING BÁN CHẠY NHẤT MÙA LỄ"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/top-5-laptop-gaming-ban-chay-nhat-mua-le" title="TOP 5 BEST SELLING GAMING LAPTOP SUMMER">TOP 5 BEST SELLING GAMING LAPTOP SUMMER</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i></p>
			<p class="article-item-bottom-des">TOP 5 BEST SELLING GAMING LAPTOP SUMMER&nbsp;5 laptop Gaming &nbsp;best seller of the holiday season1.ASUS TUF F17 FX706HE2.Asus TUF A15 FA506Q3.Acer Gaming Predator Helios 3004.Acer Predator Triton 500 SE5.Laptop Gaming HP Victus 2022 156....</p>				
		</div>
	</div>
</article>

<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			<a href="/blogs/news/top-5-laptop-van-phong-ben-bi-nhat-top-5-laptop-back-to-school" title="TOP 5 MOST DURABLE OFFICE LAPTOP" rel="nofollow">
				<img src="//file.hstatic.net/200000479727/article/21d56782f94b3d15645a_c57c2b3ce8cf43709dd52e12a1899a68_grande.jpg" class="img-fluid lazyloaded" data-src="//file.hstatic.net/200000479727/article/21d56782f94b3d15645a_c57c2b3ce8cf43709dd52e12a1899a68_grande.jpg" alt="TOP 5 MOST DURABLE OFFICE LAPTOP"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/top-5-laptop-van-phong-ben-bi-nhat-top-5-laptop-back-to-school" title="TOP 5 MOST DURABLE OFFICE LAPTOP">TOP 5 MOST DURABLE OFFICE LAPTOP</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i> </p>
			<p class="article-item-bottom-des">TOP 5 LAPTOP literature&nbsp;MOST DURABLE ROOM&nbsp;Top&nbsp;5 The most durable office laptop&nbsp;1.Dell Latitude 74702.Dell Latitude 54803.Dell Latitude E55704.Dell Latitude 72805.Dell Inspiron 74606. &nbsp;1. Dell...</p>				
		</div>
	</div>
</article>

<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			<a href="/blogs/news/top-5-mau-laptop-360-ban-chay-nhat-hien-nay" title="TOP 5 BEST SELLING LAPTOP 360 MODELS CURRENTLY" rel="nofollow">
				<img src="//file.hstatic.net/200000479727/article/f8e8b2eb9d22597c0033_d27b50e3e6ce470ebce7af11a1096bcb_grande.jpg" class="img-fluid lazyloaded" data-src="//file.hstatic.net/200000479727/article/f8e8b2eb9d22597c0033_d27b50e3e6ce470ebce7af11a1096bcb_grande.jpg" alt="TOP 5 BEST SELLING LAPTOP 360 MODELS CURRENTLY"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/top-5-mau-laptop-360-ban-chay-nhat-hien-nay" title="TOP 5 BEST SELLING LAPTOP 360 MODELS CURRENTLY">TOP 5 BEST SELLING LAPTOP 360 MODELS CURRENTLY</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i></p>
			<p class="article-item-bottom-des">TOP 5 BEST SELLING LAPTOP 360 MODELS CURRENTLY&nbsp;TOP 5 BEST SELLING LAPTOP 360 MODELS CURRENTLY&nbsp;1.HP Pavilion 14 x360 20222.HP ENVY x3603.Dell Inspiron 74154.Dell Inspiron 7425 2-in-15.Dell Inspiron 14 74206. </p>				
		</div>
	</div>
</article>

<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			<a href="/blogs/news/top-5-dong-laptop-ban-chay-nhat-hien-nay" title="TOP 5 BEST SELLING LAPTOP SERIES OF SUMMER" rel="nofollow">
				<img src="//file.hstatic.net/200000479727/article/2022-09-22_000241_3f1581b08bc64031a4cb0d2f9b396041_grande.png" class="img-fluid lazyloaded" data-src="//file.hstatic.net/200000479727/article/2022-09-22_000241_3f1581b08bc64031a4cb0d2f9b396041_grande.png" alt="TOP 5 BEST SELLING LAPTOP SERIES OF SUMMER"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/top-5-dong-laptop-ban-chay-nhat-hien-nay" title="TOP 5 BEST SELLING LAPTOP SERIES OF SUMMER">TOP 5 BEST SELLING LAPTOP SERIES OF SUMMER</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i> </p>
			<p class="article-item-bottom-des">TOP 5 BEST SELLING LAPTOP SERIES OF SUMMERFind out immediately the best-selling laptop models this holiday season, most worth owning through the following article. The holiday season has begun, if you're hesitating...</p>				
		</div>
	</div>
</article>

<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			<a href="/blogs/news/top-5-laptop-gaming-hot-hit-duoc-sinh-vien-san-don-nhat-hien-nay-1" title="TOP 5 HOT HIT LAPTOP GAMING HOT HIT FOR STUDENTS NOW" rel="nofollow">
				<img src="//file.hstatic.net/200000479727/article/6df17f309afe5ea007ef_0036a1e7db3d4bbcb74a2e7d73f0e4ae_grande.jpg" class="img-fluid lazyloaded" data-src="//file.hstatic.net/200000479727/article/6df17f309afe5ea007ef_0036a1e7db3d4bbcb74a2e7d73f0e4ae_grande.jpg" alt="TOP 5 HOT HIT LAPTOP GAMING HOT HIT FOR STUDENTS NOW"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/top-5-laptop-gaming-hot-hit-duoc-sinh-vien-san-don-nhat-hien-nay-1" title="TOP 5 HOT HIT LAPTOP GAMING HOT HIT FOR STUDENTS NOW">TOP 5 HOT HIT LAPTOP GAMING HOT HIT FOR STUDENTS NOW</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i></p>
			<p class="article-item-bottom-des">TOP 5 HOT HIT LAPTOP GAMING HOT HIT FOR STUDENTS NOW&nbsp;&nbsp;TTop 5 Hot Hit Gaming Laptops Most Wanted By Students Today1. Dell Gaming G15 55152. Acer Nitro 5&nbsp;3. Gaming HP Victus 164. Lenovo Ideapad...</p>				
		</div>
	</div>
</article>


<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			<a href="/blogs/news/huong-dan-ve-sinh-laptop-dung-cach-tai-nha" title="INSTRUCTIONS FOR CLEANING LAPTOP Correctly At Home" rel="nofollow">
				<img src="//file.hstatic.net/200000479727/article/ve-sinh-laptop-dung-cach-don-gian-tai-nha-8_273790c83979432a9f22c64001c92a53_grande.jpg" class="img-fluid lazyloaded" data-src="//file.hstatic.net/200000479727/article/ve-sinh-laptop-dung-cach-don-gian-tai-nha-8_273790c83979432a9f22c64001c92a53_grande.jpg" alt="INSTRUCTIONS FOR CLEANING LAPTOP Correctly At Home"> 
			</a>
		</div>
		<div class="article-item-bottom">
			<h3 class="article-item-bottom-name">
				<a href="/blogs/news/huong-dan-ve-sinh-laptop-dung-cach-tai-nha" title="INSTRUCTIONS FOR CLEANING LAPTOP Correctly At Home">INSTRUCTIONS FOR CLEANING LAPTOP Correctly At Home</a>
			</h3>
			<p class="article-item-bottom-author"><i class="lni lni-user"></i></p>
			<p class="article-item-bottom-des">INSTRUCTIONS FOR CLEANING LAPTOP Correctly At Home One of the main reasons why your "beloved" computer often gets hot, freezes, turns off, ... is because you don't clean your laptop regularly....</p>				
		</div>
	</div>
</article>

<article class="article-item">
	<div class="article-item-wrap">
		<div class="article-item-top">
			<div class="article-item-top-info">
				<div class="article-item-top-info-date after">
					<span></span>
					<span><br></span>
				</div>
			</div>
			
		</div>
	</div>
</article>

					</div>				
					<div class="text-center">
<div id="pagination" class="clearfix">

	<span class="current">1</span>
	<a href="/blogs/news?page=2">2</a>
	<a href="/blogs/news?page=2">
		<i class="lni lni-chevron-right"></i>
	</a>

</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
