{% extends 'base.html.twig' %}

{% block title %}Hello GeneralIntroductionController!{% endblock %}

{% block body %}
<main>
    <section id="main">
  <div class="container clearfix bg-white py-3">
   	<div id="breadcrumb">
    <div class="container">
        <div class="row m-0">
            <div class="item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" itemprop="url" class="nopad-l">
                    <span itemprop="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span>
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="line"></div>
    <div id="content" style="width:800px; margin:auto;">
      <h1 style="font-size:30px; line-height:30px; margin-bottom:10px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Introduce</font></font></h1>
      <h1 style="text-align: center;"><span style="font-size: 14pt; color: #ff0000;"><strong><span style="font-family: arial, helvetica, sans-serif;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TECHNOLOGYSTORE - THE LEADING PRESTIGE LAPTOP RETAIL SYSTEM IN VIETNAM</font></font></span></strong></span></h1>
<h1 style="text-align: justify;"><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GENERAL INTRODUCTION</font></font></span></strong></h1>
<p style="text-align: justify;"><sup><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TechnologuStore is one of the pioneers in HCM operating in the business of laptop product lines. </font><font style="vertical-align: inherit;">Established in 2013, TechnologyStore has built a solid foothold in the market and has become a familiar name for customers.</font></font></span></sup></p>
<p style="text-align: justify;"><sup><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">After 7 years of establishment, TechnologyStore always tries its best to provide professional technology solutions and services, with the mind that each customer when looking to us not only experiences normal trading services but also feels Notice the difference - trust, peace of mind comes from product quality, after-sales service.</font></font></span></sup></p>
<p style="text-align: justify;"><sup><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TechnologyStore is committed to products that always ensure high quality and clear origin, competitive prices in the market, many choices, many attractive incentives, prestigious warranty with long-term after-sales service.</font></font></span></sup></p>
<p style="text-align: justify;"><sup><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✅ Quality old laptop - LONG after-sales warranty</font></font></span></sup></p>
<p style="text-align: justify;"><sup><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✅ New 100% genuine laptop - BEST PRICE IN THE MARKET</font></font></span></sup></p>
<p style="text-align: justify;"><sup><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gathering a team of young, professional, enthusiastic and dedicated staff, when you come to TechnologyStore, you will feel satisfied when you contact directly at the store or by phone, consulting staff. Our team will guide and provide customers with the most useful information with enthusiasm and friendliness. </font><font style="vertical-align: inherit;">Following the motto "Creating Quality - Connecting to Sharing", we always listen and care about the needs of customers, and constantly improve service quality every day.</font></font></span></sup></p>
<p style="text-align: justify;"><em><sup><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thank you very much for supporting TechnologyStore. </font><font style="vertical-align: inherit;">Your satisfaction is our joy and motivation to help us constantly improve and develop our services even more!</font></font></span></sup></em></p>
   

  </main>
{% endblock %}
